body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width:419px;       
   width: auto !important;  // 파이어폭스
   width:419px;             // 윈도우 익스플로러
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: initial;
  text-decoration: none;
  &:visited {
    color: initial;   
  }
}

// 모바일 사파리에서 모서리 둥근 것 방지
input, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
}